[report]
exclude_lines =
    pragma: no cover
    raise AssertionError
    raise NotImplementedError
    if 0:
    if __name__ == .__main__.:
    except ImportError
    if six.PY2:
    if six.PY3:

[run]
concurrency=multiprocessing
parallel=True
branch=True

